<h1>Auteur : <%=@user.first_name%> <%=@user.last_name%></h1>
<p><%=@user.age%> ans</p>
<p><%=@user.email%></p>
<p><%=@user.city.name%></p>
<br>
<blockquote><span>"<%=@user.description%>"</span></blockquote>
